<p>Who is your MP?</p>

<p-autoComplete [(ngModel)]="selectedMp" [suggestions]="results" (completeMethod)="search($event)" [forceSelection]="true" field="name" placeholder="e.g. Mims Davies"></p-autoComplete>

<section *ngIf="selectedMp">
  <!--
  <img src="assets/mims.png">
  -->
  <h2>{{selectedMp.name}}</h2>
  <h3>{{selectedMp.constituency}}</h3>

  <p>All about {{selectedMp.name}}</p>

  <ul>
    <li>Supports the government</li>
    <li>Does not support Brew for Europe</li>
  </ul>
</section>

<nav *ngIf="selectedMp">
  <button pButton type="button" (click)="next()" label="Get started!"></button>
</nav>
