<section *ngIf="!found">
  <p>Placeholder text. Why am I here?</p>
</section>

<section>
  <p-autoComplete [(ngModel)]="name" [suggestions]="results" (completeMethod)="search($event)" [forceSelection]="true"></p-autoComplete>
</section>

<section *ngIf="name">
  <img src="assets/mims.png">
  <h2>MP Mims Davies</h2>

  <p>All about Mims Davies</p>

  <ul>
    <li>Supports the government</li>
    <li>Does not support Brew for Europe</li>
  </ul>
</section>

<nav *ngIf="name">
  <button pButton type="button" [routerLink]="['/pick-topic']" label="Get started!"></button>
</nav>
