@import "../../styles/colours.scss";

section {
    margin: auto;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topic-button {
    height: 9em;
    text-shadow: 1px 1px 2px $secondary-background;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $primary-background;
}

.topic-button, .topic-button:hover, .topic-button:focus, .topic-spacer {
    width: 13em;    
    font-size: 1.2rem;
    margin: 1rem;
}

.topic-button:hover, .topic-button:focus {
    background-blend-mode: darken;
    opacity: 0.8;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $primary-background;
}
