section {
    margin: auto;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.topic {
    background-color: #f5f5f3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    display: block;
    flex: 0 1 30%;
    margin: 0.5em;

    div {
        margin-top: 8em;
        background-color: #ff1054;
        border-radius: 0 0 12px 12px;
        color: white;
        padding: 0.3em;
        text-align: center;
        width: 100%;
    }
}

#nhs-topic {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1)), url("/assets/topics/surgery-1807541_1920.jpg");
}

#cost-topic {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1)), url("/assets/topics/supermarket-2158692_1920.jpg");
}

#jobs-topic {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1)), url("/assets/topics/welder-673559_1920.jpg");
}

#environment-topic {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1)), url("/assets/topics/cry-stone-walls-2451428_1920.jpg");
}

#schools-topic {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1)), url("/assets/topics/abacus-1866497_1920.jpg");
}

#control-topic {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1)), url("/assets/topics/london-90782_1920.jpg");
}

#safety-topic {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1)), url("/assets/topics/cctv-1144366_1920.jpg");
}

#other-topic {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1)), url("/assets/topics/pencil-918449_1920.jpg");
}
