<section class="boilerform">
  <p>Members of Parliament will only respond to their own constituents. Search for your MP by name, constituency or
    postcode:</p>

  <input type="search" autocorrect="off" class="c-input-field" (keyup)="query$.next($event.target.value)" placeholder="e.g. SW1A 0AA">
</section>

<nav *ngIf="results.length > 0">
  <a *ngFor="let mp of results | slice:0:9" class="mp" (click)="onSelect(mp)">
    <div>
      <p>{{mp.constituencyName}}</p>
      <img src="https://data.parliament.uk/membersdataplatform/services/images/MemberPhoto/{{mp.memberId}}/">
      <p>{{mp.fullTitle}} ({{mp.partyName}})</p>
    </div>
  </a>
</nav>