<section class="boilerform">
  <p>Members of Parliament will only respond to their own constituents. Search for your MP by name, constituency or
    postcode:</p>

  <input type="search" autocorrect="off" class="c-input-field" (keyup)="query$.next($event.target.value)" placeholder="e.g. SW1A 0AA">&nbsp;<span *ngIf="searching" class="spinner">&nbsp;</span>
</section>

<nav *ngIf="results.length > 0">
  <a *ngFor="let mp of results | slice:0:9" class="mp-card" (click)="onSelect(mp)" [ngStyle]="{'background-image': 'linear-gradient(rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 1)), url(/assets/topics/' + postcardImage + ')'}">
    <div class="mp-details" [ngStyle]="{'background-image': 'linear-gradient(rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0.8)), url(https://data.parliament.uk/membersdataplatform/services/images/MemberPhoto/' + mp.memberId + '/)'}">
      <p class="name">{{mp.fullTitle}}</p>
      <p class="party">{{mp.partyName}}</p>
    </div>
    <div class="constituency">{{mp.constituencyName}}</div>
  </a>
</nav>