@import "../../styles/colours.scss";

section {
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mp-result, .mp-spacer {
    width: 36em;
    margin: 1em;
}

.mp-result {
    background-color: $tertiary-background;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    img {
        height: 14em;
    }

    .mp-details {
        text-align: left;
        padding: 1em;

        .name {
            display: table;
            font-weight: bold;
        }
    }
}
