@import "../../styles/colours.scss";

section {
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.mp-card {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    flex: 0 1 47%;
    margin: 0.5em;
    text-align: center;
    width: 100%;

    .mp-details {
        text-align: left;
        border-top-left-radius: 12px;
        background-size: contain;
        height: 8em;
        padding-left: 8.5em;
    }

    .constituency {
        height: 2em;
        background-color: #ff1054;
        border-radius: 0 0 12px 12px;
        color: white;
        padding: 0.25em;
        text-align: center;
        width: 100%;
    }
}
