<section class="boilerform">
  <p>Members of Parliament will only respond to their own constituents. Search for your MP by name, constituency or
    postcode:</p>

  <input type="search" autocorrect="off" class="c-input-field" (keyup)="query$.next($event.target.value)" placeholder="e.g. SW1A 0AA">&nbsp;<span *ngIf="searching" class="spinner">&nbsp;</span>
</section>

<nav *ngIf="results.length > 0">
  <div *ngFor="let mp of results | slice:0:9" class="mp-result">
    <img src="https://data.parliament.uk/membersdataplatform/services/images/MemberPhoto/{{mp.memberId}}/" />
    <div class="mp-details boilerform">
      <h2>{{mp.constituencyName}}</h2>
      <p>Your MP is <span class="name">{{mp.memberName}}</span> a <span class="party">{{mp.partyName}}</span> MP</p>
      <button type="button" class="c-button" (click)="onSelect(mp)">Write to {{mp.memberName}}</button>
    </div>
  </div>

  <span class="mp-spacer">&nbsp;</span>
</nav>