/* You can add global styles to this file, and also import other style files */
body {
  font-family: "system-ui";
  padding: 2em 15% 2em 15%;
}

section {
  margin-bottom: 2em;
}

textarea {
  width: 100%;
  height: 5em;
}

.topic {
  margin: 1em;
  cursor: pointer;
}
