<nav>
  <!-- Wot no keyboard navigation -->
  <p-card class="topic" [routerLink]="['/write-card']">
    <h2>NHS</h2>
  </p-card>

  <p-card class="topic" [routerLink]="['/write-card']">
    <h2>Cost of living</h2>
  </p-card>

  <p-card class="topic" [routerLink]="['/write-card']">
    <h2>Jobs</h2>
  </p-card>

  <p-card class="topic" [routerLink]="['/write-card']">
    <h2>Environment</h2>
  </p-card>

  <p-card class="topic" [routerLink]="['/write-card']">
    <h2>Schools and education</h2>
  </p-card>

  <p-card class="topic" [routerLink]="['/write-card']">
    <h2>Having our say</h2>
  </p-card>

  <p-card class="topic" [routerLink]="['/write-card']">
    <h2>Safety and security</h2>
  </p-card>

  <p-card class="topic" [routerLink]="['/write-card']">
    <h2>Other</h2>
  </p-card>
</nav>
