<nav>
  <!-- Wot no keyboard navigation -->
  <section [routerLink]="['/write-card']">
    <h2>NHS</h2>
  </section>

  <section [routerLink]="['/write-card']">
    <h2>Cost of living</h2>
  </section>

  <section [routerLink]="['/write-card']">
    <h2>Jobs</h2>
  </section>

  <section [routerLink]="['/write-card']">
    <h2>Environment</h2>
  </section>

  <section [routerLink]="['/write-card']">
    <h2>Schools and education</h2>
  </section>

  <section [routerLink]="['/write-card']">
    <h2>Having our say</h2>
  </section>

  <section [routerLink]="['/write-card']">
    <h2>Safety and security</h2>
  </section>

  <section [routerLink]="['/write-card']">
    <h2>Other</h2>
  </section>
</nav>
