<section>
  <p>Here are some automagically generated suggestions of what to write about (TBC). Don't forget to include a personal story.</p>

  <textarea pInputTextarea [(ngModel)]="body">
  </textarea>

  <label>
    <input pInputText type="text" [(ngModel)]="name" placeholder="Your name"><br />
    <input pInputText type="email" [(ngModel)]="email" placeholder="Your email"><br />
    <input pInputText type="address" [(ngModel)]="address" placeholder="Your address">
  </label>
</section>

<nav>
  <button pButton type="button" (click)="next()" label="Send"></button>
</nav>
