<section>
  <p>Dear {{mpName}},</p>

  <textarea pInputTextarea [(ngModel)]="card" placeholder="Here are some automagically generated suggestions of to write about. Don't forget to include a personal story.">
  </textarea>

  <label>Yours Sincerely,
    <input pInputText type="text" [(ngModel)]="name" placeholder="Your name">
    <input pInputText type="email" [(ngModel)]="email" placeholder="Your email">
  </label>
</section>

<nav>
  <button pButton type="button" [routerLink]="['/card-sent']" label="Send"></button>
</nav>
